<div class="w3-container w3-center flex-fill flex flex-col items-center py-5" id="band">
    <h3 class="text-3xl font-bold mb-6">Formulario para crear una nueva pregunta</h3>

    <form action="/pregunta/insertar" method="post" class="w-full max-w-lg text-black">
        <!-- Pregunta input -->
        <div class="mb-5">
            <label for="pregunta" class="block text-lg font-medium text-gray-400">Pregunta:</label>
            <input required name="pregunta" id="pregunta" type="text" placeholder="Ingrese su pregunta" class="input input-bordered w-full mt-2" />
        </div>

        <!-- Categoria select -->
        <div class="mb-5">
            <label for="categoria" class="block text-lg font-medium text-gray-400">Seleccione categoría</label>
            <select name="categoria" id="categoria" class="select select-bordered w-full mt-2">
                {{#categorias}}
                    <option value="{{id}}">{{nombre}}</option>
                {{/categorias}}
            </select>
        </div>

        <!-- Submit button -->
        <div>
            <button type="submit" class="btn btn-primary w-full py-3 text-lg">Crear Pregunta</button>
        </div>
    </form>

    <div class="mt-4 text-lg font-semibold text-gray-700">
        {{mensaje}}
    </div>
</div>


