<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Respuestas</title>
</head>
<div class="w-full max-w-xl mx-auto mt-10 bg-gray-300 p-8 rounded-lg shadow-xl mb-8 text-black">
    <h3 class="text-3xl font-semibold text-black text-center mb-6">Formulario para crear respuestas</h3>

    <form class="respuestas-form space-y-6" action="/pregunta/insertarRespuestas" method="post">
        <input type="hidden" value="{{idPregunta}}" name="idPregunta" id="idPregunta" />

        <!-- Respuesta A -->
        <div class="input-form">
            <label for="respuesta_a" class="block text-lg font-medium text-black">Respuesta A:</label>
            <input required name="respuesta_a" id="respuesta_a" class="input input-bordered w-full text-gray-800" />
        </div>

        <!-- Respuesta B -->
        <div class="input-form">
            <label for="respuesta_b" class="block text-lg font-medium text-black">Respuesta B:</label>
            <input required name="respuesta_b" id="respuesta_b" class="input input-bordered w-full text-gray-800" />
        </div>

        <!-- Respuesta C -->
        <div class="input-form">
            <label for="respuesta_c" class="block text-lg font-medium text-black">Respuesta C:</label>
            <input required name="respuesta_c" id="respuesta_c" class="input input-bordered w-full text-gray-800" />
        </div>

        <!-- Respuesta D -->
        <div class="input-form">
            <label for="respuesta_d" class="block text-lg font-medium text-black">Respuesta D:</label>
            <input required name="respuesta_d" id="respuesta_d" class="input input-bordered w-full text-gray-800" />
        </div>

        <!-- Respuesta Correcta -->
        <div class="input-form">
            <label for="respuesta_correcta" class="block text-lg font-medium text-black">Respuesta Correcta:</label>
            <select required name="respuesta_correcta" id="respuesta_correcta" class="select select-bordered w-full text-gray-800">
                <option value="respuesta_a">Respuesta A</option>
                <option value="respuesta_b">Respuesta B</option>
                <option value="respuesta_c">Respuesta C</option>
                <option value="respuesta_d">Respuesta D</option>
            </select>
        </div>

        <!-- Botón de envío -->
        <div class="text-center">
            <input class="btn btn-primary w-full py-3 text-lg mt-4" type="submit" value="ENVIAR" />
        </div>
    </form>

    <!-- Mensaje de respuesta -->
    <div class="text-center mt-4">{{mensaje}}</div>
</div>


</html>