<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreguntAR</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    html, body {

        margin: 0;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
    }

    footer {
        margin-top: auto;
    }
</style>

<body class="bg-gray-900 text-white min-h-screen flex flex-col">
<header class="bg-gray-700 p-4 shadow-lg">
    <div class="flex justify-between items-center max-w-7xl mx-auto">
        <a href="/" class="text-white text-2xl font-bold hover:text-gray-300 transition-colors">
            PreguntAR
        </a>

        <div class="flex items-center space-x-4">
            {{#user}}
                <span class="text-gray-200">Hola {{user}}!</span>
            {{/user}}

        </div>
    </div>
</header>

