<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreguntAR</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- Header -->
<header class="w3-container w3-teal w3-padding">
    <div class="w3-cell-row">
        <div class="w3-cell w3-left">
            <a href="index.php" style="text-decoration: none; color: inherit;">
                <h1>PreguntAR</h1>
            </a>
        </div>

        <div class="w3-cell w3-right">
            {{#user}}
                <div class="w3-right w3-margin-top">
                    <span>Hola {{user}}!</span>
                </div>
            {{/user}}
        </div>
    </div>
</header>

</body>
</html>



