<script defer>
    document.title = `Home`;
</script>

<main class="container mx-auto pt-4 rounded-lg shadow-lg text-center">
    {{#mensaje}}
        <div class="alert alert-success" role="alert">
            {{mensaje}}
        </div>
    {{/mensaje}}
    <h1 class="text-4xl font-bold mb-6 text-primary">Bienvenido al Juego Preguntados, {{user}}!</h1>
    <p class="text-lg text-gray-600 mb-6">Prepárate para poner a prueba tus conocimientos en las siguientes categorías:</p>

    <div class="flex flex-col items-center gap-4 mt-6">
        <a href="/partida" class="btn btn-primary btn-wide shadow-lg">
            <i class="bi bi-play-fill mr-2"></i>Jugar Nueva Partida
        </a>
        <a href="/profile" class="btn btn-success btn-wide shadow-lg">
            <i class="bi bi-person-circle mr-2"></i>Ver perfil
        </a>
        <a href="/ranking/ver" class="btn btn-warning btn-wide shadow-lg">
            <i class="bi bi-trophy mr-2"></i>Ranking
        </a>
        <a href="/pregunta" class="btn btn-warning btn-wide shadow-lg">
            <i class="bi bi-trophy mr-2"></i>Sugerir Pregunta
        </a>
        <a href="/logout/logout" class="btn btn-error btn-wide shadow-lg">
            <i class="bi bi-box-arrow-right mr-2"></i>Cerrar Sesión
        </a>

        {{#isAdmin}}
            <a href="/admin" class="btn btn-neutral btn-wide shadow-lg">
                <i class="bi bi-shield-lock mr-2"></i>Ir al Panel de Administrador
            </a>
        {{/isAdmin}}

        {{#isEditor}}
            <a href="/editor" class="btn btn-info btn-wide shadow-lg">
                <i class="bi bi-tools mr-2"></i>Ir al Panel de Editor
            </a>
        {{/isEditor}}
    </div>
</main>
