<script defer>
    document.title = `Home`;
</script>

<main class="container text-center mt-5 py-5 main-content flex-fill">
    {{#mensaje}}
        <div class="alert alert-success" role="alert">
            {{mensaje}}
        </div>
    {{/mensaje}}
    <h1 class="display-4 fw-bold mb-4 text-primary">Bienvenido al Juego Preguntados, {{user}}!</h1>
    <p class="lead mt-3 text-muted">Prepárate para poner a prueba tus conocimientos en las siguientes categorías:</p>

    <div class="d-flex justify-content-center flex-wrap gap-3 mt-4">
        <a href="/partida" class="btn btn-primary btn-lg shadow-lg px-5 py-2">
            <i class="bi bi-play-fill me-2"></i>Jugar Nueva Partida
        </a>
        <a href="/profile" class="btn btn-success btn-lg shadow-lg px-4 py-2">
            <i class="bi bi-person-circle me-2"></i>Ver perfil
        </a>
        <a href="/ranking/ver" class="btn btn-warning btn-lg shadow-lg px-4 py-2">
            <i class="bi bi-trophy me-2"></i>Ranking
        </a>
        <a href="/logout/logout" class="btn btn-danger btn-lg shadow-lg px-5 py-2">
            <i class="bi bi-box-arrow-right me-2"></i>Cerrar Sesión
        </a>

            {{#isAdmin}}
                <a href="/admin" class="btn btn-dark btn-lg shadow-lg px-5 py-2">
                    <i class="bi bi-shield-lock me-2"></i>Ir al Panel de Administrador
                </a>
            {{/isAdmin}}

            {{#isEditor}}
                <a href="/editor" class="btn btn-info btn-lg shadow-lg px-5 py-2">
                    <i class="bi bi-tools me-2"></i>Ir al Panel de Editor
                </a>
            {{/isEditor}}

    </div>
</main>