<style>
    .Historia {
        background-color: #ffce54;
    }

    .Geografia {
        background-color: #4a90e2;
    }

    .Ciencia {
        background-color: #55ba69;
    }

    .Deportes {
        background-color: #f58d42;
    }

    .ArteyLiteratura {
        background-color: #eb3939;
    }

    .Entretenimiento {
        background-color: #ec5cca;
    }
</style>

<main class="container-lg my-4">

    <!-- Temporizador -->
    <div class="d-flex justify-content-center mb-5">
        <div class="d-flex gap-3">
            <p class="text-2xl">Tiempo restante: <span id="timer"></span></p>
        </div>
    </div>

    <div class="flex justify-center">
        <div class="w-full max-w-3xl">
            <!-- Tarjeta de pregunta centrada -->
            <div class="card shadow-xl bg-base-100">
                <div class="card-header {{categoriaColor}}">
                    <h4 class="text-3xl text-center m-2 text-white">{{categoria}}</h4>
                </div>

                <div class="card-body bg-gray-700">
                    <p class="text-3xl text-center mb-4">
                        {{pregunta}}
                    </p>

                    <form id="form" method="POST" action="/partida?pregunta={{preguntaId}}">
                    <div class="grid grid-cols-2 gap-4">
                        <!-- Opción 1 y 2 en la fila superior -->
                        <div class="col-span-1">
                            <button class="btn btn-primary w-full text-2xl h-full" data-id="{{opciones.0.id}}" type="submit">
                                {{opciones.0.opcion}}
                            </button>
                        </div>

                        <div class="col-span-1">
                            <button class="btn btn-primary w-full text-2xl h-full" data-id="{{opciones.1.id}}" type="submit">
                                {{opciones.1.opcion}}
                            </button>
                        </div>

                        <!-- Opción 3 y 4 en la fila inferior -->
                        <div class="col-span-1">
                            <button class="btn btn-primary w-full text-2xl h-full" data-id="{{opciones.2.id}}" type="submit">
                                {{opciones.2.opcion}}
                            </button>
                        </div>

                        <div class="col-span-1">
                            <button class="btn btn-primary w-full text-2xl h-full" data-id="{{opciones.3.id}}" type="submit">
                                {{opciones.3.opcion}}
                            </button>
                        </div>
                    </div>

                    <input type="hidden" name="respuesta" id="respuestaInput" value="">
                    </form>
                </div>
            </div>

            <p class="mt-5 text-2xl font-bold text-center text-green-500">
                {{respuesta}}
            </p>

            <!-- Resultados de la partida -->
            <div class="mt-5">
                <h4 class="text-xl">Partida actual</h4>
                <ul class="list-group">
                    <li class="list-group-item">Puntaje: <strong>{{puntaje}} puntos</strong></li>
                </ul>
            </div>
        </div>
    </div>

    <audio id="timer-sound" src="../public/audio/clock.wav"></audio>
</main>


    <script>
        const opciones = document.querySelectorAll('.btn');
        const respuestaInput = document.getElementById('respuestaInput');
        const form = document.getElementById('form');
        const timerElement = document.getElementById("timer")

        const audio = document.getElementById('timer-sound');
        audio.play().catch(error => {
            console.log('Autoplay bloqueado:', error);
        });

        opciones.forEach(opcion => {
            opcion.addEventListener('click', (e) => {
                e.preventDefault();
                respuestaInput.value = opcion.dataset.id;
                form.submit()
            });
        });


        form.addEventListener('submit', () => form.reset())

        const timeStampInicio = {{timestampInicioPregunta}}
        timerElement.textContent = calcularSegundosRestantes(timeStampInicio)
        const intervalId = setInterval(() => {
            const segundosRestantes = calcularSegundosRestantes(timeStampInicio)
            if(segundosRestantes>0){
                audio.play()
                timerElement.textContent = segundosRestantes
            }else {
                audio.pause();
                clearInterval(intervalId)
                form.submit();
            }
        },1000)

        function calcularSegundosRestantes(timestampInicio){
            const segundosEspera = 10
            const timeStampActual = Math.floor(Date.now() / 1000);
            const segundosTranscurridos = timeStampActual-timestampInicio
            return segundosEspera - segundosTranscurridos
        }
    </script>
</main>