<script defer>
    document.title = `Reportes`;
</script>

<main class="container text-center mt-5 flex-fill">
    <section class="card w-full max-w-md mx-auto shadow-lg bg-base-100">
        <div class="card-body p-6">
            <h1 class="card-title text-gray-700 text-3xl font-semibold mb-4">Reporte Enviado</h1>
            <p class="card-text text-lg text-gray-700 mb-6">¡Gracias por tu retroalimentación! Nuestro equipo revisará el reporte pronto.</p>
            <a href="/" class="btn btn-primary w-full py-3 text-lg mt-3">Volver al inicio</a>
        </div>
    </section>
</main>
