<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntados - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container text-center my-5 flex-fill">
    <!-- Mensaje de respuesta correcta -->
    <div class="alert alert-success shadow-lg mb-4">
        <h1 class="text-4xl font-bold text-green-500">¡Respuesta Correcta!</h1>
    </div>
    <p class="text-2xl font-semibold text-gray-700">
        Siguiente pregunta en:
        <span id="contador" class="text-3xl font-extrabold text-blue-500">3</span>
    </p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const contadorHTMLElement = document.getElementById("contador")
    let contadorSegundos = 2;
    const intervalId = setInterval(() => {
        if(contadorSegundos === 0){
            clearInterval(intervalId)
            window.location.href = "/partida"
        }else {
            contadorHTMLElement.textContent = contadorSegundos
            contadorSegundos--
        }
    },1000)
</script>

</body>

</html>